<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <script type="text/javascript" src="/scripts/m.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <title>伏天氏_第1章 此间少年 - 笔趣阁</title>
    <meta name="keywords" content="伏天氏,第1章 此间少年,笔趣阁" />
    <meta name="description" content="伏天氏已经更新到第1章 此间少年，笔趣阁为你提供优质全文阅读体验。" />
    <!-- <meta http-equiv="mobile-agent" content="format=html5; url=https://m.biduo.cc/biquge/16_16705/" /> -->
    <!-- <meta http-equiv="mobile-agent" content="format=xhtml; url=https://m.biduo.cc/biquge/16_16705/" /> -->
    <script type="text/javascript" src="/scripts/zepto.min.js"></script>
    <script type="text/javascript" src="/scripts/header.js"></script>
    <script type="text/javascript" src="/scripts/reader.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.5.0-beta.0/angular-sanitize.min.js"></script>
    <script src="/scripts/js/base.js"></script>
    <script src="/scripts/js/content.js"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>

<body ng-app="indexApp" ng-controller="indexController" ng-init="category();content();">
    <div id="wrapper">
        <div ng-include='"/common.html"'></div>
        <div class="content_read">
            <div class="box_con">
                <div class="con_top">
                    <script>textselect();</script>
                    <a href="/">笔趣阁</a> &gt; <a href="/book_1_/">{{novelInfo.category_name}}</a> &gt; <a
                        href="/novel_info.html?id={{novelInfo.id}}">{{novelInfo.name}}</a>
                    &gt;章节目录{{contentInfo.chapter}}
                </div>
                <div class="bookname">
                    <h1>{{content.chapter}}</h1>
                    <div class="bottem1">
                        <a ng-if="contentInfo.pre_id"
                            href="/content.html?id={{contentInfo.pre_id}}&category_id={{novelInfo.category_id}}">上一章</a>&larr;
                        <a href="/novel_info.html?id={{novelInfo.id}}">章节列表</a> &rarr; <a ng-if="contentInfo.next_id"
                            href="/content.html?id={{contentInfo.next_id}}&category_id={{novelInfo.category_id}}">下一章</a>
                        <a rel="nofollow" href="javascript:;" onclick="addBookMark(4845336,16705);">加入书签</a>
                    </div>
                    <div class="lm">推荐阅读：<a href="/biquge/16_16706/">韩娱之我是李秀满</a><a
                            href="/biquge/16_16707/">问题妹妹恋上我</a><a href="/biquge/16_16708/">煅剑</a><a
                            href="/biquge/16_16709/">我的美女老师</a><a href="/biquge/16_16710/">甜宠100式：君少，来尝鲜！</a><a
                            href="/biquge/16_16704/">贼猫</a><a href="/biquge/16_16703/">玄霄</a><a
                            href="/biquge/16_16702/">法兰西之花</a><a href="/biquge/16_16701/">生之道</a><a
                            href="/biquge/16_16700/">重生之绝世星辰</a></div>
                </div>
                <div style="text-align: center">
                    <script>read2();</script>
                </div>
                <div id="content" ng-bind-html='contentInfo.content'>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <!-- <div style="text-align: center">
                    <script>read3();</script>
                </div> -->
                <div class="bottem2">
                    <a ng-if="contentInfo.pre_id"
                        href="/content.html?id={{contentInfo.pre_id}}&category_id={{novelInfo.category_id}}">上一章</a>
                    &larr; <a href="/novel_info.html?id={{novelInfo.id}}">章节目录</a> &rarr; <a ng-if="contentInfo.next_id"
                        href="/content.html?id={{contentInfo.next_id}}&category_id={{novelInfo.category_id}}">下一章</a> <a
                        rel="nofollow" href="javascript:;" onclick="addBookMark(4845336,16705);">加入书签</a>
                </div>
                <div style="text-align: center">
                    <script>read4();</script>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_link">新书推荐：<a href="/biquge/1_1748/" title="真武世界">真武世界</a><a href="/biquge/5_5367/"
                    title="至尊剑皇">至尊剑皇</a><a href="/biquge/6_6587/" title="白袍总管">白袍总管</a><a href="/biquge/6_6873/"
                    title="重生完美时代">重生完美时代</a><a href="/biquge/6_6980/" title="玄界之门">玄界之门</a><a href="/biquge/17_17306/"
                    title="踏天无痕">踏天无痕</a><a href="/biquge/18_18255/" title="史上最强店主">史上最强店主</a><a
                    href="/biquge/28_28493/" title="我的1979">我的1979</a><a href="/biquge/39_39809/"
                    title="极道天魔">极道天魔</a><a href="/biquge/40_40293/" title="万界天尊">万界天尊</a><a href="/biquge/41_41060/"
                    title="圣武星辰">圣武星辰</a><a href="/biquge/41_41250/" title="平天策">平天策</a></div>
            <div class="footer_cont">
                <p>
                    《<a
                        href="/biquge/16_16705/">{{novelInfo.name}}</a>》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的{{novelInfo.category_name}}，本站转载收集伏天氏最新章节。
                </p>
                <p>
                    本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
                <p>
                    Copyright ? 2016 笔趣阁 All Rights Reserved.</p>
                <!-- <script>footer(); dl(); tan();</script> -->
            </div>
        </div>
    </div>
    <script language="javascript">
        // var lastread = new LastRead();
        // document.onkeydown = keypage;
        // var prevpage = "/biquge/16_16705/"
        // var nextpage = "/biquge/16_16705/c4845337.html"
        // var index_page = "/biquge/16_16705/"
        // function keypage() {
        //     if (event.keyCode == 37) location = prevpage
        //     if (event.keyCode == 39) location = nextpage
        //     if (event.keyCode == 13) document.location = index_page
        // }
        // lastread.set('16705', '4845336', '伏天氏', '第1章 此间少年', '净无痕', '玄幻魔法');
        // function postErrorChapter() {
        //     postError(16705, 4845336);
        // }
    </script>
</body>

</html>